@import "../../variables.scss";

.login-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-family: 'Great Vibes', cursive;
        color: #fff;
        font-size: 32px;
        margin-bottom: $default-margin*2;
    }

    .input-form {
        display: flex;
        flex-direction: column;
        margin-top: $default-margin;
    }

    .loading-container {
        height: 40px;
        width: 40px;
    }
}