<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="{{data.placeholder}}" [(ngModel)]="selectedList" name="list">
      <mat-option *ngFor="let list of data.lists" [value]="list">
        {{list.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button
    [mat-dialog-close]="selectedList"
    [disabled]="!selectedList"
    cdkFocusInitial
    color="primary">{{data.actionButtonLabel}}</button>
</div>
