<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
    matInput
    placeholder="{{data.placeholder}}"
    [(ngModel)]="data.defaultValue">
  </mat-form-field>
  <mat-slide-toggle *ngIf="data.isAddListDialog" color="primary" (change)="quantityCheckedChanged($event)">Quantity Inputs</mat-slide-toggle>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button
    mat-raised-button
    [mat-dialog-close]="data"
    [disabled]="!data.defaultValue"
    cdkFocusInitial
    color="primary">{{data.actionButtonLabel}}</button>
</div>
