@import "../variables.scss";

:host{
    padding-top: $footer-height;

    .header-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: absolute;
        box-shadow: 0 2px 4px rgba(0,0,0,.5);
        height: $footer-height;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        color: #fff;
        background-color: $primary-color;

        .list-menu-button {
            position: absolute;
            left: $default-margin;
        }

        h1 {
            font-family: 'Great Vibes', cursive;
            font-size: 32px;
        }
    
    }

    .no-list-placeholder {
        font-family: 'Caveat', cursive;
        font-size: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: $default-margin;
        width: 100%;
        color: grey;

        .icon-container {
            margin-top: $default-margin;
            padding: $default-padding;
            width: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: dashed 3px grey;
            border-radius: $default-margin;

            mat-icon {
                font-size: 32px;
            }
        }
    }

    .item-list-card {
        font-family: 'Caveat', cursive;
        position: relative;
        padding: $footer-height 0 0 0;

        mat-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
        }

        /deep/ mat-list-option {
            font-family: 'Caveat', cursive;
            font-size: 24px;

            .mat-list-item-content {
                padding: 0 20px;
            }
        }

        /deep/ mat-list-item {
            font-family: 'Caveat', cursive;
            font-size: 24px;

            .mat-list-item-content {
                padding: 0 20px;
            }
        }

        .mat-list-item {
            position: realtive;
            button {
                position: absolute;
                right: 0;
                margin-right: $default-margin;
            }
        }

        .list-loader {
            margin-left: $default-margin;
        }

        .item-list-card-header {
            box-sizing: border-box;
            position: absolute;
            height: $footer-height;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 $default-padding 0 20px;
            //color: #fff;
            display: flex;
            align-items: center;
            
            h1 {
                font-size: 36px;
                font-weight: 800;
            }

            .underline {
                border-bottom: 2px solid currentColor;
                display: inline-block;
                line-height: 0.85;
                text-shadow:
                  2px 2px #fff,
                  2px -2px #fff,
                  -2px 2px #fff,
                  -2px -2px #fff;
            }

            .edit-list-title-button {
                margin-left: auto;
            }
            // padding-bottom: $default-padding;
            // border-bottom: solid 1px $separator-color;
            // background-color: $primary-color;
        }

        .list-content {
            overflow-y: auto;
            overflow-x: none;
            max-height: 70vh;
            margin-bottom: 0;

            .empty-text {
                margin: $default-margin*2;
                margin-top: 0;
                font-size: 22px;
            }
        }

        .add-item-row {
            background-color: lightgrey;
            display: flex;
            flex: 1;
            flex-wrap: nowrap;
            align-items: center;
            padding: $default-padding 10px 0 $default-padding;
            font-size: 14px;

            .quantity-form-field {
                width: 20%;
                min-width: 70px;
            }

            .name-form-field {
              flex: auto;
              margin-right: 0;
            }

            .add-item-button {
                align-self: center;
            }
        }

        .empty-text {
            margin: $default-margin*2 0;
            color: gray;
        }
    }

    .first {
        margin-right: $default-margin;
    }

    .save-button {
        color: white;
    }

    .dismiss-button {
        color: white;
    }

    .footer-bar {
        background-color: $primary-color-weak;
        height: $footer-height;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 999;

        .footer-toolbar-row {
            height: $footer-height;
        }
    }
}