<div class='header-bar'>
  <button mat-icon-button class="list-menu-button" [disabled]="editMode" [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="openAddListDialog()">
      <mat-icon>playlist_add</mat-icon>
      <span>Add New List</span>
    </button>
    <button mat-menu-item *ngIf="listsArray.length > 0" (click)="openSelectListDialog()">
      <mat-icon>playlist_play</mat-icon>
      <span>Select List</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>color_lens</mat-icon>
      <span>Change Theme</span>
    </button>
  </mat-menu>
  <h1>Simple Checklist</h1>
</div>

<div class="app-container">
  <div *ngIf="!selectedList" class="no-select no-list-placeholder">
    <div class="icon-container" (click)="openAddListDialog()">
      <mat-icon>playlist_add</mat-icon>
      Add New List
    </div>
  </div>

  <mat-card *ngIf="selectedList" class="item-list-card">
    <mat-progress-bar *ngIf="listLoading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
    <mat-card-header class="item-list-card-header">
      <h1>{{ selectedListName }}</h1>
      <button mat-icon-button class="edit-list-title-button" [disabled]="editMode" [matMenuTriggerFor]="editListMenu">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDeleteList()" class="delete-list-title-button" [disabled]="editMode">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #editListMenu="matMenu">
        <button mat-menu-item (click)="openSetTitleDialog()">
          <mat-icon>edit</mat-icon>
          <span>Rename List</span>
        </button>
        <button mat-menu-item (click)="onEditList()">
          <mat-icon>list</mat-icon>
          <span>Edit List</span>
        </button>
      </mat-menu>
    </mat-card-header>

    <mat-card-content class="list-content">
      <div class="empty-text" *ngIf="selectedListItems?.length < 1">
        List is empty. Add some Items
        <button mat-icon-button [disabled]="editMode" (click)="onEditList()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-selection-list
      (selectionChange)="onSelectionChange($event)"
      class="selection-list"
      *ngIf="!editMode && selectedListItems?.length > 0"
      #selectionListItems>
        <mat-list-option *ngFor="let item of selectedListItems" [selected]="item.checked">
          {{formatItemString(item)}}
        </mat-list-option>
      </mat-selection-list>
      <mat-list class="selection-list" *ngIf="editMode">
        <mat-list-item class="mat-list-item" *ngFor="let item of selectedListItems; let i = index">
          {{formatItemString(item)}}
          <button mat-icon-button (click)="onDeleteItem(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<mat-toolbar *ngIf="editMode" class='footer-bar' color="primary">
  <mat-toolbar-row class="footer-toolbar-row">
    <div class="add-item-row" *ngIf="editMode">
      <mat-form-field *ngIf="showQuantityInputs" class="quantity-form-field">
        <mat-select placeholder="Quantity" [(ngModel)]="quantity" name="quantity">
          <mat-option *ngFor="let number of numbers" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="name-form-field">
        <input matInput type="text" class="form-control name-input" placeholder="Item" id="item" [(ngModel)]="itemName" name="item">
      </mat-form-field>
      <button class="add-item-button" mat-icon-button (click)="onAddItem()" color="primary" [disabled]="!itemName">
        <mat-icon>
          add_circle
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="bottom-row footer-toolbar-row">
    <button (click)="onClose()" class="btn first save-button" mat-raised-button color="primary">Exit Edit Mode</button>
  </mat-toolbar-row>
</mat-toolbar>