<div class="container-fluid">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>
 
	<div style="width: 300px;">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<input type="text"
					class="form-control" placeholder="Item Name..." id="item"
          required [(ngModel)]="itemName" name="item">
        <input type="text"
					class="form-control" placeholder="Quantity..."
					required [(ngModel)]="quantity" name="quantity">
			</div>
 
			<div class="btn-group">
        <button type="submit" class="btn first btn-success">Add Item</button>
        <button (click)="onDelete()" class="btn">Clear List</button>
			</div>
		</form>
	</div>
 
	<h2>Items to Shop:</h2>
	<div class="col-md-3">
		<p *ngFor="let item of items | async">{{item | json}}</p>
	</div>
</div>

