:host{

    .add-item-card {
        padding: 12px;
        .add-item-content {
            display: flex;
      
            .name-form-field {
              flex-grow: 5;
            }
      
            .quantity-form-field {
                width: 48px;
                flex-grow: 1;
            }

            .add-item-button {
                align-self: center;
            }
          }
    }

    .item-list-card {
        .item-list-card-header {
            display: flex;
            align-items: center;
            h1 {
                font-size: 24px;
            }
        }

        .empty-text {
            margin: 24px 0;
            color: gray;
        }

        .edit-list-title-button {
            margin-left: 12px;
        }
    }

    .first {
        margin-right: 12px;
    }

    .save-button {
        color: white;
    }

    .delete-button {
        color: white;
    }
}