/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$default-padding: 12px;
$default-margin: 12px;

* {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    app-root {
        width: 100%;
        min-width: 300px;
        max-width: 800px;
    }
    background-color: #C5CAE9;
}

mat-card {
    margin-top: $default-margin;

    .mat-card-header-text {
        margin: 0;
    }

    .mat-card-actions {
        margin-bottom: 0 !important;
        padding: $default-padding;
    }
}

mat-form-field {
    margin-right: $default-margin;
}

mat-list-option {
    .mat-pseudo-checkbox-checked {
        background-color: #673ab7;
    } 

    .mat-pseudo-checkbox-checked + .mat-list-text {
        color: lightgrey;
    }

}

mat-list-option:not(:last-child) {
    border-bottom: solid 1px #EEEEEE;
}
